extends ../template.pug
include ../mixins.pug
block vars
  - var title = 'April 17th, Year 90'
  - var basePath = '../'

block content
  :markdown-it
    Today was my 21st birthday. 
    
    Legend has it that this used to be a time of celebration, where a person would move into adulthood and become a responsible member of society. But for us that happened at 15 - not so much the celebration, but the coming of age, the weight of responsibility and the expectation to contribute to the community. So, in a way, I feel like I've been an adult for a long time now, and birthdays are just a countdown to the 'big 25'. But I'd rather not think about that.

    I'm not sure anyone even remembered my birthday, other than Marek, who gave me a massive grin and a big squeeze when I entered the gardens this morning, and Iain, who came all the way up from the archive to give me this journal. I'm not sure what I'm meant to do with it, but he said perhaps it would help me find my purpose. I'm grateful, and I hope he's right, but I don’t know what difference it will make. Besides, all he ever does at the archive is read other people's stories, so perhaps he just wants to know my innermost thoughts and secrets when I leave. Not that I have any.

    The rest of the day was much the same as yesterday, and the days before that. Working in the garden. Today I was clearing out and hoeing last year’s lettuce patch ready to sow the carrot seeds, and trying to fix the old irrigation pump before summer kicks in. Charlie was pestering me to help him as he's late planting the potatoes, but the pump was being its difficult self again and was reluctant to start. I like working in the garden, it's peaceful and rewarding. Marek sat with me at lunch and he talked about the best way to prune rose bushes - not that we have any in the garden, it’s strictly for vegetables - but hearing him describe in detail how he gently tends to his own garden is fascinating, and was needed today to take my mind off of things. He's very knowledgeable about plants, and I always enjoy talking to him, though as an elder, he's always pushing me to find a mate. Today was no different. "I hate seeing the way people look at you" is his normal line, but today he seemed to press more. "You really should find someone before it's too late, how else will you have a chance of making it onto the council?". I love that he cares and wants the best for me, but I'm not sure I want to be a town-surrogate, or even a council member. Perhaps I should just be grateful that he's not like the ones that look down their noses at you for "avoiding your duty". I don't know, maybe he's right, but I just don't feel like that's my reason for being here.

    It's late now. The sun set hours ago and the 'syth is dark and quiet. I can hear Amara snoring in the next room, and who knows what the others are doing. Goodnight journal.