@import url("vars.css");
@import url("base.css");

html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

body {
  background-color: var(--surface);
  color: var(--surface-contrast);
}

.content-wrapper {
  min-height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  line-height: 1.6;
  font-size: var(--font-size-base);
  gap: var(--space-md);

  display: grid;
  align-items: start;
  grid-template-columns:
    [inline-start] auto [margin-start] minmax(0, 15%) [main-start] minmax(30rem, 900px) [main-end] minmax(0, 15%) [margin-end] auto [inline-end];
  grid-template-rows: min-content auto min-content;

  :where(&)>* {
    grid-column: main;
  }

  --heading-top-margin: var(--space-2xl);
  --heading-top-padding: 15px;

  h1 {
    margin-top: var(--heading-top-margin);
    display: grid;
    grid-column: margin-start;
    position: sticky;
    top: 0;
    text-align: right;
  }

  h2 {
    position: sticky;
    top: 0;
    margin-top: var(--heading-top-margin);
    padding-top: var(--heading-top-padding);
    display: flex;
    width: 100%;
    background-color: var(--surface);
    border-bottom: var(--border-1) solid var(--color-border);
  }
}

header {
  display: grid;
  grid-column: inline;
  grid-template-columns: subgrid;
  padding: var(--space-2xl) 0;

  .logo {
    grid-column: main;
    font-size: var(--font-size-2xl);
    font-weight: 900;
    color: var(--heading-color-contrast);
    width: fit-content;
    border: none;

    &:hover {
      color: var(--color-accent);
    }
  }
}

.back-link {
  display: inline-block;
  justify-self: end;
  font-size: var(--font-size-sm);
  width: max-content;

  &:hover {
    color: var(--color-primary);
  }
}

footer {
  display: grid;
  grid-column: inline;
  grid-template-columns: subgrid;

  margin-top: var(--space-2xl);
  padding: var(--space-2xl) 0;
  font-size: var(--font-size-xs);

  .wrapper {
    grid-column: main;
    display: flex;

    .links {
      flex-grow: 1;
      text-align: center;
      display: flex;
      gap: var(--space-lg);
    }

    .copyright {
      opacity: 0.75;
      grid-column: main;
      display: flex;
      justify-content: flex-end;
    }
  }
}