mixin head(title)
  doctype html
  html(lang="en")
    head
      meta(charset="UTF-8")
      meta(name="description" content="The Gracious Wall is a personal diary exploring themes of memory, loss, and the passage of time through evocative prose and imagery.")
      meta(name="viewport" content="width=device-width, initial-scale=1.0")
      title= title + ' : The Gracious Wall'
      link(rel="preconnect" href="https://fonts.googleapis.com")
      link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
      link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..600;1,500&family=Inter:wght@400;600;900&display=swap")
      link(rel="stylesheet" href=basePath + 'styles/styles.css')

mixin page(title)
  +head(title)
  body
    header
      h1= title
    main
      block content

mixin entry(title, href)
  li
    a(href=href)= title