extends ./templates/main.pug
include ./mixins/mixins.pug
block vars
  - var title = 'Contents'
  - var basePath = './'
  - var isHome = true

block content
  include .generated/characters.pug
  nav
    ul.contents
      +entry('Prologue', './story/prologue.pug')
      each character in characters
        +entry(character, 'characters/' + character.toLowerCase() + '.pug')
        ul.diary-entries
          include .generated/character-entries-includes.pug
          each entry in entries
            +entry(entry.title, 'characters/' + character.toLowerCase() + '.pug' + '#' + entry.id)